/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
_ide_helper.php
public/uploads
/storage/debugbar
/storage/*
/storage/logs/laravel.log
/app/Jobs/SendReminderEmail.php
